.ServicesPage {
  &__filter-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    align-items: end;
    justify-items: start;

    @media (min-width: 768px) {
      grid-template-columns: 300px auto;
    }
  }
}
