.Main {
  position: relative;
  height: 100vh;
  display: flex;

  &__page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: var(--main-bg-color);
  }

  &__page-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  &__page-content {
    flex-grow: 1;
  }
}
