.Footer {
  margin: 0 30px;
  padding: 17px 0 14px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-color);

  &__copywriting {
    font-size: 13px;
    line-height: 19px;
    color: var(--muted-color);
  }
}
